/* General Styling */
body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #0d1117; 
  color: #c9d1d9; 
}

html {
  scroll-behavior: smooth;
}

/* Secret Button*/
.secret-button {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

.secret-button:hover {
  background-color: rgba(0, 123, 255, 0.8); /* subtle blue */
  opacity: 1;
  border-radius: 50%;
  color: white;
}

.secret-button::before {
  content: "🔒";
}

/* Secret Button Pop-Up */
.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.popup-box input {
  width: 80%;
  margin: 10px 0;
}

.error {
  color: red;
  font-size: 0.9em;
}

/* Top Bar Navigation */
.navbar {
  background-color: #000000;
  padding: 5px;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.navbar a {
  color: #58a6ff;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Portfolio */
.Portfolio-header {
  text-align: center;
  padding: 20px 20px;
  background-color: #161b22;
  border-bottom: 1px solid #30363d;
  font-size: 2.5em;
}

.section {
  padding: 20px 20px;
  margin-left: 400px;
  margin-right: 400px;
  border-bottom: 1px solid #30363d;
  scroll-margin-top: 60px; /* Keeps section headers visable after top bar navigation */
}

.section h1 {
  color: #58a6ff;
  margin-bottom: 0;
  text-align: center;
}

.entry {
  margin-bottom: 40px;
}

.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

/* .entry-date-and-image {
  color: #8b949e;
  white-space: nowrap;
  font-style: italic;
} */

.entry-header h2 {
  margin-bottom: 0;
}

.date {
  color: #8b949e;
  white-space: nowrap;
  font-style: italic;
}








